hfen_annotation
hfen_annotation_backup
mse_annotation
mse_annotation_backup
nrmse_annotation
nrmse_annotation_backup
psnr_annotation/
psnr_annotation_backup/
ssim_annotation
ssim_annotation_backup
train_test_val_annotations
plots
dataset/
OneDrive/
f1_160_ssim_annotation.pkl
f1_160_ssim_match_index.pkl
f2_145_ssim_annotation.pkl
f2_145_ssim_match_index.pkl
f5_153_ssim_annotation.pkl
f5_153_ssim_match_index.pk